.container {
  background-color: lightblue;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-weight: bold;
  padding-left: 10px;
}

.rating {
  font-weight: bold;
  padding-right: 10px;
}

.text {
  margin-top: 10px;
}
